$letratitulo: src;

/*
@font-face {
    font-family: curvilingus;
    src: url(../fonts/curvilingus/Curvilingus.otf);
}
@font-face {
    font-family: keepontruckin;
    src: url(../fonts/keep_on_truckin_fw/KeeponTruckin.ttf);
}
