.grid {
    display: grid;
    grid-template-areas:
    "cabecera"
    "main"
    "pieDepagina";
    grid-template-rows: (3, 1fr);
    grid-template-columns: 1fr;
    height: 100vh; 

    footer {
        grid-area: pieDepagina;
        background-image: url(../imagenes/4.jpeg);
        background-size: 200px;
        
        

        .footer__links {
            @extend %flexFooter !optional;
            padding: 30px;
            list-style-type: none;
        
        }
    } 

    .footer__gal {
        background-image: url(../imagenes/4.jpeg);
        background-size: 400px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
    .footer--can{
        background-image: url(../imagenes/3.jpeg);
        background-size: 400px;
        margin-top: 10px;
        .footer__links{
            width: 250px;
        }
    
    }
    
    .footer__tips {
        background-image: url(../imagenes/4.jpeg);
        background-size: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .grid{ 
        grid-template-areas: 
        "cabecera"
        "main main"
        "piDePagina pieDePagina";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        footer {
            grid-area: pieDepagina;
            background-image: url(../imagenes/7.jpeg);
            background-size: 400px;
            .footer__links {
                display: flex;
                justify-content: center;
                padding: 30px;
                list-style-type: none;
            }
        }
        
        .footer--can{
            margin-top: 0;
            background-image: url(../imagenes/3.jpeg);
            background-size: 400px;
            display: flex;
            justify-content: center;
        
        }
    }
}

@media screen and (min-width: 400px) and (max-width: 1200px)  {

    footer {
        grid-area: pieDepagina;
        background-image: url(../imagenes/7.jpeg);
        background-size: 400px;
        .footer__links {
           
            padding: 30px;
            list-style-type: none;
        }
    }

    .footer--can{
        background-image: url(../imagenes/3.jpeg);
        background-size: 400px;
   }
}