.grid {
    display: grid;
    grid-template-areas:
    "cabecera"
    "main"
    "pieDepagina";
    grid-template-rows: (3, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;   

    header{
        grid-area: cabecera;
        background-image: url(../imagenes/4.jpeg);
        background-size: 200px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;

        .header__logo{ 
            border-radius: 50px;
            height:100px;
            width: 100px;

        }

        .header__titulo {
            font-size: 30px;
            font-family: curvilingus;
            color: #b37d22;
            margin-top: 10px;
            text-align: center;
            
        }

        .header__lista {
            list-style-type: none;
            width: 300px;
            height: 100px;
            margin-top: 20px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li a{
                height: 10px;
                margin-right: 10px;
                margin-top: 10px;
                color: #b37d22;
                font-family: keepontruckin;
                font-size: 15px;
                font-weight: lighter;
                text-decoration: none;
                border: 02px solid;
                padding: 10px;
                margin-bottom: 10px;
                background-image: url(../imagenes/2.jpeg);
                background-size: cover;
                border-radius: 10px;

            }

        }
    }
}
@font-face {
    font-family: curvilingus;
    src: url(../fonts/curvilingus/Curvilingus.otf);
}
@font-face {
    font-family: keepontruckin;
    src: url(../fonts/keep_on_truckin_fw/KeeponTruckin.ttf);
}
@media screen and (min-width: 1200px) {
    .grid{ 
        grid-template-areas: 
        "cabecera "
        "main main"
        "piDePagina pieDePagina";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        header{ 
            grid-area: cabecera;
            background-image: url(../imagenes/7.jpeg);
            background-size: 400px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .header__logo{
                border-radius: 50px;
                height: 150px;
                width: 150px;
                
            }

            .header__titulo{
                font-size: 80px;
                font-family: curvilingus;
                color: #78180d;
                margin-top: 10px;
                text-align: center;
            }

            .header__lista{ 
                list-style-type: none;
                display: flex;
                width: 600px;
                margin-top: 80px

            }
            .header__lista li a{
                height: 10px;
                margin-right: 10px;
                margin-top: 10px;
                color: #b37d22;
                font-family: keepontruckin;
                font-size: 25px;
                font-weight: lighter;
                text-decoration: none;
                border: 02px solid;
                padding: 10px;
                margin-bottom: 10px;
                background-image: url(../imagenes/2.jpeg);
                background-size: cover;
                border-radius: 10px;
                transition: all 01s;
                &:hover{
                        background-color: #b37d22;
                        color: #78180d;
                        padding:15px ;

                }
                

            }
        }

    }

}

@media screen and (min-width: 400px) and (max-width: 1200px)  {
    .grid{ 
        grid-template-areas: 
        "cabecera "
        "main main"
        "piDePagina pieDePagina";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        header{
            grid-area: cabecera;
            background-image: url(../imagenes/2.jpeg);
            background-size: 400px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
      
        .header__logo {
            border-radius: 50px;
            height: 150px;
            width: 150px;
        }
        .header__titulo {
             font-size: 80px;
             font-family: curvilingus;
             color: #78180d;
             margin-top: 10px;
             text-align: center;
        }
    
        .header__lista{
            list-style-type: none;
            display: flex;
            width:400px;
            margin-top: 80px;
        }
        
        .header__lista li a{
            height: 10px;
            margin-right: 10px;
            margin-top: 10px;
            color: #b37d22;
            font-family: keepontruckin;
            font-size: 25px;
            font-weight: lighter;
            text-decoration: none;
            border: 02px solid;
            padding: 10px;
            margin-bottom: 10px;
            background-image: url(../imagenes/2.jpeg);
            background-size: cover;
            border-radius: 10px;
        }
    }
}