
.grid {
    display: grid;
    grid-template-areas:
    "cabecera"
    "main"
    "pieDepagina";
    grid-template-rows: (3, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;   

    header{
        grid-area: cabecera;
        background-image: url(../imagenes/4.jpeg);
        background-size: 200px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        
        .header__logo{ 
            border-radius: 50px;
            height:100px;
            width: 100px;

        }

        .header__titulo {
            font-size: $tamanofontsdos;
            font-family: curvilingus;
            color: map-get($colores, tituloUno);
            margin-top: 10px;
            text-align: center;
            
        }

        .header__lista {
            list-style-type: none;
            width: 225px;
            height: 100px;
            margin-top: 20px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li a{
                height: 10px;
                margin-right: 10px;
                margin-top: 10px;
                color: map-get($colores, fontUno);
                font-family: keepontruckin;
                font-size: 15px;
                font-weight: lighter;
                text-decoration: none;
                border: 02px solid;
                padding: 10px;
                margin-bottom: 10px;
                background-image: url(../imagenes/2.jpeg);
                background-size: cover;
                border-radius: 10px;

            }

        }
    }
    
    .header__fondo {
        background-image:url(../imagenes/3.jpeg);
        .header__titulo--dis {
            color: map-get($colores, tituloUno);
            font-size: 30px;
            font-family: curvilingus;
            margin-top: 10px;
            text-align: center;
        }
    }

}
@font-face {
    font-family: curvilingus;
    src: url(../fonts/curvilingus/Curvilingus.otf);
}
@font-face {
    font-family: keepontruckin;
    src: url(../fonts/keep_on_truckin_fw/KeeponTruckin.ttf);
}
@media screen and (min-width: 1200px) {
    .grid{ 
        grid-template-areas: 
        "cabecera "
        "main main"
        "piDePagina pieDePagina";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        header{ 
            grid-area: cabecera;
            background-image: url(../imagenes/7.jpeg);
            background-size: 400px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            

            .header__logo{
                border-radius: 50px;
                height: 150px;
                width: 150px;
                
            }

            .header__titulo{
                font-size: $tamanofontsuno;
                font-family: curvilingus;
                color:map-get($colores, tituloDos);
                margin-top: 10px;
                text-align: center;
            }

            .header__lista{ 
                list-style-type: none;
                display: flex;
                width: 600px;
                margin-top: 80px

            }
            .header__lista li a{
                height: 10px;
                margin-right: 10px;
                margin-top: 10px;
                color: map-get($colores, fontUno);
                font-family: keepontruckin;
                font-size: $tamanofontsdos;
                font-weight: lighter;
                text-decoration: none;
                border: 02px solid;
                padding: 10px;
                margin-bottom: 10px;
                background-image: url(../imagenes/2.jpeg);
                background-size: cover;
                border-radius: 10px;
                transition: map-get($transitions, tranistionUno);
                &:hover{
                        background-color: #b37d22;
                        color: #78180d;
                        padding:15px ;

                }
                

            }
        }

        .header__gal {
            background-image: url(../imagenes/4.jpeg);
            background-size: 400px;
            .header__titulo{
                color: map-get($colores, tituloUno);
            }
        }

        .header__fondo {
            background-image:url(../imagenes/3.jpeg);
            .header__titulo--dis {
                color: map-get($colores, tituloUno);
                font-size: $tamanofontsuno;
                font-family: curvilingus;
                margin-top: 10px;
                text-align: center;
            }
        } 
       
    }

}

@media screen and (min-width: 400px) and (max-width: 1200px)  {
    .grid{ 
        grid-template-areas: 
        "cabecera "
        "main main"
        "piDePagina pieDePagina";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        header{
            grid-area: cabecera;
            background-image: url(../imagenes/7.jpeg);
            background-size: 400px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .header__logo {
                border-radius: 50px;
                height: 150px;
                width: 150px;
            }
            .header__titulo {
                font-size: $tamanofontsuno;
                font-family: curvilingus;
                color: map-get($colores, tituloUno);
                margin-top: 10px;
                text-align: center;
            }
        
            .header__lista{
                list-style-type: none;
                display: flex;
                width:400px;
                margin-top: 80px;
            }
            
            .header__lista li a{
                height: 10px;
                margin-right: 10px;
                margin-top: 10px;
                color: map-get($colores, fontUno);
                font-family: keepontruckin;
                font-size: $tamanofontsdos;
                font-weight: lighter;
                text-decoration: none;
                border: 02px solid;
                padding: 10px;
                margin-bottom: 10px;
                background-image: url(../imagenes/2.jpeg);
                background-size: cover;
                border-radius: 10px;
            }
        }

        .header__gal {
            background-image: url(../imagenes/4.jpeg);
            background-size: 400px;
        }

        .header__fondo {
            background-image:url(../imagenes/3.jpeg);

            .header__titulo--dis {
                color: map-get($colores, tituloUno);
                font-size: $tamanofontsuno;
                font-family: curvilingus;
                margin-top: 10px;
                text-align: center;
            }
        }
     
    }
}