.grid {
    display: grid;
    grid-template-areas:
    "cabecera"
    "main"
    "pieDepagina";
    grid-template-rows: (3, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;   
}

.main {
    grid-area: main;
    background-image: url(../imagenes/4.jpeg);
    background-size: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .main__video {
        margin-top: 20px;
        height: 200px;
        width: 300px;
    }

    .main__titulo {
        font-family: curvilingus;
        color: #dca015;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

    }
    .main__parrafo {
        font-family: keepontruckin;
        color: #b37d22;
        font-size: 15px;
        font-weight: lighter;
        width: 250px;
        text-decoration: none;

    }
}

@media screen and (min-width: 1200px) {
    .main {
        grid-area: main;
        background-image: url(../imagenes/7.jpeg);
        background-size: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        .main__video {
            height: 400px;
            width: 600px;
        }

        .main__titulo {
            font-family: curvilingus;
            color: #78180d;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }

        .main__parrafo {
            font-family: keepontruckin;
            color: #b37d22;
            font-size: 30px;
            font-weight: lighter;
            text-decoration: none;
            width: 800px;
        }

        .main__video {
            height: 400px;
            width: 600px;
        }
    }
}

@font-face {
    font-family: curvilingus;
    src: url(.../fonts/curvilingus/Curvilingus.otf);
}
@font-face {
    font-family: keepontruckin;
    src: url(.../fonts/keep_on_truckin_fw/KeeponTruckin.ttf);
}




