.grid{
    display: grid;
    grid-template-areas:
    "cabecera"
    "main"
    "pieDepagina";
    grid-template-rows: (3, 1fr);
    grid-template-columns: 1fr;
    height: 100vh; 

    main{
        grid-area: main;
        background-image: url(../imagenes/4.jpeg);
        background-size: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;

        iframe{
            margin-top: 20px;
            height: 200px;
            width: 300px;
        }
        
        h{
            font-family: curvilingus;
            color: #dca015;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            
        }

        p{
            font-family: keepontruckin;
            color: #b37d22;
            font-size: 15px;
            font-weight: lighter;
            width: 250px;
            text-decoration: none;

        }
    }
    .main--galeria {
        height: 1500px;
        background-image: url(../imagenes/4.jpeg);
        background-size: 400px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;  
        .fotoUno {
            border-radius: 10px;
            border: 03px solid;
            border-color: #060606;
            height: 140px;
            width: 140px;
        }
    }

    .main--canciones{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-image: url(../imagenes/3.jpeg);
        background-size: 400px;

        .tabla {
            position: relative;
            top:50px;
            height: 200px;
            width: 500px;
            color: #b37d22;
            border: 10px;
            background-color: #030303;
            font-family: keepontruckin;
            border-radius: 10px;
            border-color: #b37d22;
        }
    } 
}

@media screen and (min-width: 1200px) {
    .grid{ 
        grid-template-areas: 
        "cabecera "
        "main main"
        "piDePagina ";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        .main {
            grid-area: main;
            background-image: url(../imagenes/7.jpeg);
            background-size: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .main__video {
                height: 400px;
                width: 600px;
            }
        
            .main__titulo {
                font-family: curvilingus;
                color: #78180d;
                font-size: 50px;
                font-weight: bold;
                text-align: center;
            
            }
            
            .main__parrafo {
                font-family: keepontruckin;
                color: #b37d22;
                font-size: 30px;
                font-weight: lighter;
                text-decoration: none;
                width: 800px;
            
            }
            
            .main__video {
                height: 400px;
                width: 600px;
            }

        }
    
        
        .main--galeria{
            .fotoUno {
                border-radius: 10px;
                border: 03px solid;
                border-color: #0c0c0c;
                height: 300px;
                width: 300px;
                transition:all 1s ease-in-out;
                &:hover { 
                    height: 350px;
                    width: 350px;
                    border-color: #b37d22;

                }
           }
        }
        .main--canciones{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-image: url(../imagenes/3.jpeg);
            background-size: 400px;

            .tabla {
                height: 220px;
                width: 500px;
                margin-bottom: 50px;
                color: #b37d22;
                border: 10px;
                background-color: #030303;
                font-family: keepontruckin;
                border-radius: 10px;
                border-color: #b37d22;
            }
        }
    }
}

@media screen and (min-width: 400px) and (max-width: 1200px)  {

    .grid{ 
        grid-template-areas: 
        "cabecera "
        "main main"
        "piDePagina pieDePagina";
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: 100vh;

        .main {
            grid-area: main;
            background-image: url(../imagenes/2.jpeg);
            background-size: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;


            .main__video {
                height: 400px;
                width: 600px;
            }
        
            .main__titulo {
                font-family: curvilingus;
                color: #78180d;
                font-size: 50px;
                font-weight: bold;
                text-align: center;
            
            }
            
            .main__parrafo {
                font-family: keepontruckin;
                color: #b37d22;
                font-size: 30px;
                font-weight: lighter;
                text-decoration: none;
                width: 800px;
            
            } 
        }
    
        .main__galeria{
            .fotoUno {
                border-radius: 10px;
                border: 03px solid;
                border-color: #060606;
                height: 250px;
                width: 250px;
           }
        }
        .main--canciones{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-image: url(../imagenes/3.jpeg);
            background-size: 400px;

            .tabla {
                position: relative;
                top:50px;
                height: 200px;
                width: 500px;
                color: #b37d22;
                border: 10px;
                background-color: #030303;
                font-family: keepontruckin;
                border-radius: 10px;
                border-color: #b37d22;
            }
        }
    }  
}