.grid {
  display: grid;
  grid-template-areas: "cabecera" "main" "pieDepagina";
  grid-template-rows: 3, 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

header {
  grid-area: cabecera;
  background-image: url(../imagenes/4.jpeg);
  background-size: 200px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
header a .header__logo {
  border-radius: 50px;
  height: 100px;
  width: 100px;
}
header .header__titulo {
  font-size: 30px;
  font-family: curvilingus;
  color: #b37d22;
  margin-top: 10px;
  text-align: center;
}
header nav ul {
  list-style-type: none;
  width: 300px;
  height: 100px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
header nav ul li a {
  height: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color: #b37d22;
  font-family: keepontruckin;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  border: 2px solid;
  padding: 10px;
  margin-bottom: 10px;
  background-image: url(../imagenes/2.jpeg);
  background-size: cover;
  border-radius: 10px;
}

@media screen and (min-width: 1200px) {
  .grilla {
    grid-template-areas: "cabecera cabecera" "main main" "piDePagina pieDePagina";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }
  header {
    grid-area: cabecera;
    background-image: url(../imagenes/7.jpeg);
    background-size: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  header a .header__logo {
    border-radius: 50px;
    height: 150px;
    width: 150px;
  }
  header .header__titulo {
    font-size: 80px;
    font-family: curvilingus;
    color: #78180d;
    margin-top: 10px;
    text-align: center;
  }
  header nav .header__lista {
    list-style-type: none;
    display: flex;
    width: 600px;
    margin-top: 80px;
  }
  header nav .header__lista .header__lista li a {
    height: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: #b37d22;
    font-family: keepontruckin;
    font-size: 25px;
    font-weight: lighter;
    text-decoration: none;
    border: 2px solid;
    padding: 10px;
    margin-bottom: 10px;
    background-image: url(../imagenes/2.jpeg);
    background-size: cover;
    border-radius: 10px;
    transition: all 1s;
  }
  header nav .header__lista .header__lista li a:hover {
    background-color: #b37d22;
    color: #78180d;
    padding: 15px;
  }
}
@font-face {
  font-family: curvilingus;
  src: url(.../fonts/curvilingus/Curvilingus.otf);
}
@font-face {
  font-family: keepontruckin;
  src: url(.../fonts/keep_on_truckin_fw/KeeponTruckin.ttf);
}
.grid {
  display: grid;
  grid-template-areas: "cabecera" "main" "pieDepagina";
  grid-template-rows: 3, 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

.main {
  grid-area: main;
  background-image: url(../imagenes/4.jpeg);
  background-size: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .main__video {
  margin-top: 20px;
  height: 200px;
  width: 300px;
}
.main .main__titulo {
  font-family: curvilingus;
  color: #dca015;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.main .main__parrafo {
  font-family: keepontruckin;
  color: #b37d22;
  font-size: 15px;
  font-weight: lighter;
  width: 250px;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .main {
    grid-area: main;
    background-image: url(../imagenes/7.jpeg);
    background-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .main .main__video {
    height: 400px;
    width: 600px;
  }
  .main .main__titulo {
    font-family: curvilingus;
    color: #78180d;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .main .main__parrafo {
    font-family: keepontruckin;
    color: #b37d22;
    font-size: 30px;
    font-weight: lighter;
    text-decoration: none;
    width: 800px;
  }
  .main .main__video {
    height: 400px;
    width: 600px;
  }
}
.footer {
  grid-area: pieDepagina;
  background-image: url(../imagenes/4.jpeg);
  background-size: 200px;
}
.footer .footer__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
  list-style-type: none;
}

@media screen and (min-width: 1200px) {
  .footer {
    grid-area: pieDepagina;
    background-image: url(../imagenes/7.jpeg);
    background-size: 400px;
  }
}/*# sourceMappingURL=styles.css.map */