*{
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-areas:
    "cabecera"
    "main"
    "pieDepagina";
    grid-template-rows: (3, 1fr);
    grid-template-columns: 1fr;
    height: 100vh;   
}

header{
   grid-area: cabecera;
   background-image: url(../imagenes/4.jpeg);
   background-size: 400px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.header__logo {
    border-radius: 50px;
}

.header__titulo {
    font-size: 60px;
    font-family: curvilingus;
    color: #771e16;
    margin-top: 10px;
    text-align: center;
}

.header__lista {
    list-style-type: none;
    margin-left: 40px;
}

.header__lista li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    margin-right: 20px;
    margin-top: 20px;
    color: #b37d22;
    font-family: keepontruckin;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    border: 02px solid;
    padding: 10px;
    margin-bottom: 10px;
    background-image: url(../imagenes/2.jpeg);
    background-size: cover;
    border-radius: 10px;
}

.main {
    grid-area: main;
    background-image: url(../imagenes/4.jpeg);
    background-size: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.main__titulo {
    font-family: curvilingus;
    color: #dca015;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}

.main__parrafo {
    font-family: keepontruckin;
    color: #b37d22;
    font-size: 30px;
    font-weight: lighter;
    bottom: 230px;
    text-decoration: none;

}

.footer {
    grid-area: pieDepagina;
    background-image: url(../imagenes/4.jpeg);
    background-size: 400px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px;
    list-style-type: none;
}

/*css galeria*/

.header__gal {
    background-image: url(../imagenes/4.jpeg);
    background-size: 400px;
}

    
.main--galeria {
    height: 1500px;
    background-image: url(../imagenes/4.jpeg);
    background-size: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;  
}


.fotoUno {
    border-radius: 10px;
    border: 03px solid;
    border-color: #060606;
}

.footer__gal {
    background-image: url(../imagenes/4.jpeg);
    background-size: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

/*css canciones*/

.header--fondo {
    background-image: url(../imagenes/3.jpeg);
    background-size: 400px;
}

.header__titulo--dis {
    color: #b37d22;
    font-size: 60px;
    font-family: curvilingus;
    margin-top: 10px;
    text-align: center;
}

.main--canciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(../imagenes/3.jpeg);
    background-size: 400px;
}


.tabla {
    position: relative;
    top:50px;
    height: 200px;
    width: 500px;
    color: #b37d22;
    border: 10px;
    background-color: #030303;
    font-family: keepontruckin;
    border-radius: 10px;
    border-color: #b37d22;
}

.footer--can{
    background-image: url(../imagenes/3.jpeg);
    background-size: 400px;

}

/*css contacto*/

.main--cont {
    height: 800px;
    background-image: url(../imagenes/4.jpeg);
    background-size: 400px;

}

.texto__cont {
    font-family: curvilingus;
    color: #b37d22;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.formulario {
    position: relative;
    left: 500px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    width: 300px;
    color: #b37d22;
    text-align: center;
    font-family: keepontruckin;
    font-size: 20px;
    
}

.boton {
    border-radius: 10px;
    font-size: 15px;
    width: 100px;
    background-color: #b37d22;
    cursor: pointer;
}

/*css tips*/

.main--tips{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../imagenes/3.jpeg);
    background-size: 400px;
    
}

@font-face {
    font-family: curvilingus;
    src: url(../fonts/curvilingus/Curvilingus.otf);
}
@font-face {
    font-family: keepontruckin;
    src: url(../fonts/keep_on_truckin_fw/KeeponTruckin.ttf);
}

@media screen and (min-width: 1200px) {
    .grilla {
      grid-template-areas: 
      "cabecera cabecera"
      "main main"
      "piDePagina pieDePagina";
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      height: 100vh;
    }

    header{
        grid-area: cabecera;
        background-image: url(../imagenes/7.jpeg);
        background-size: 400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
     }

     .header__lista {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
  
     
     .header__titulo {
         font-size: 80px;
         font-family: curvilingus;
         color: #78180d;
         margin-top: 10px;
         text-align: center;
     }

     
     
     .main {
        grid-area: main;
        background-image: url(../imagenes/7.jpeg);
        background-size: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .main__titulo {
        font-family: curvilingus;
        color: #78180d;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    
    }
    
    .main__parrafo {
        font-family: keepontruckin;
        color: #b37d22;
        font-size: 30px;
        font-weight: lighter;
        bottom: 230px;
        text-decoration: none;
    
    }
    
    .footer {
        grid-area: pieDepagina;
        background-image: url(../imagenes/7.jpeg);
        background-size: 400px;
    }
         
 }


     


  
 @media screen and (max-width: 600px) {
    .grilla {
      grid-template-areas: 
      "cabecera cabecera"
      "main main"
      "piDePagina pieDePagina";
      grid-template-rows: repeat(3, 1fr);
      grid-template-columns: repeat(2, 1fr);
      height: 100vh;
    }

    header{
        grid-area: cabecera;
        background-image: url(../imagenes/2.jpeg);

        background-size: 400px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
     }
  
     
    .header__titulo {
         font-size: 80px;
         font-family: curvilingus;
         color: #78180d;
         margin-top: 10px;
         text-align: center;
     }
     

    .main {
        grid-area: main;
        background-image: url(../imagenes/2.jpeg);
        background-size: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .main__titulo {
        font-family: curvilingus;
        color: #78180d;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    
    }
    
    .main__parrafo {
        font-family: keepontruckin;
        color: #b37d22;
        font-size: 30px;
        font-weight: lighter;
        bottom: 230px;
        text-decoration: none;
    
    }
    
    .footer {
        grid-area: pieDepagina;
        background-image: url(../imagenes/2.jpeg);
        background-size: 400px;
    }
         
}








